{{ define "main" }}
  {{ .Content }}
  {{ range site.Sections }}
  <section>
    <h1>{{ .LinkTitle }}</h1>
    {{ .Summary }}
    {{ range .Sections}}
    <section class="indent">
      <h2>{{.Title}}</h2>
      <div class="cards">
        {{ range .RegularPages }}
        <article>
            <h3>{{.Title}}</h3>
            {{ if .Date}}<time>{{.Date.Format "2 Jan, 2006"}}</time> {{end}}
            {{ if .Params.Regularday }}<time>{{ .Params.Regularday }}</time>{{end}}
            {{ if .Params.Starttime}}<time>{{.Params.Starttime}}{{if .Params.Endtime}}&mdash;{{ .Params.Endtime}}{{end}}</time>{{end}}
            <p>{{ .Content }}</p>
        </article>
        {{end}}
    </div>
    </section>
    {{ end }}
  </section>
  {{ end }}
{{ end }}
